.item-filter-row {
  display: flex;
}

.item-filter-btn-col {
  display: grid;
  align-content: center;
}

.item-filter-btn {
  max-height: 50px;
  margin: 10px;
}

.header-row{
 display: flex;
 border-bottom: 3px solid #00ADD8;
 align-items: center;
 padding: 25px 125px;
 margin-bottom: 70px;
}

img{
    margin-left:auto;
    right:0;
}
.main{
  padding: 25px 125px;
}

.btn-default:not(.btn.disabled), .btn-default:not(.btn.disabled):hover, .btn-default:not(.btn.disabled):focus{
  background-color: #00ADD8;
  color: white;
}

.main .btn-default{
  margin-bottom: 60px;
}

.col-sm-6, .col-sm-5{
  padding: 0;
}

.col-sm-6:first-child{
  padding-right: 50px;
}

.col-sm-6:last-child{
  padding-left: 50px;
}

input[type=search] {
    border: #707070 1px solid;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: white;
}

.modal hr{
  margin-top: 20px;
  margin-bottom: 30px;
}

h1{
  margin:0;
}
h3{
  margin-top: 0;
}
.modal-content{
  padding: 25px 30px;
}
.modal-body{
  padding: 0;
}

table.dataTable tbody td {
    padding: 10px 18px !important;
}